@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&display=swap');

/*Stiller inn body, Abdallah*/
body{
    margin: 0;
    background-color: #658E9C;
}

/*Tekstredigering*/
header, button{
    font-family: "roboto-mono", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #CCC9A1;
    text-decoration: none;
}

/*Fikser logoen*/
.logo{
    width: 10rem;
    min-width: 10rem;
}

/*Navbar*/
header{
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 1fr;
    background-color: #ccc9a1;
    height: 9vh;
    min-height: 40px;
    gap: 50px;
    flex-grow: 1;
    min-width: 350px;
}

a{
    text-decoration: none;
    color: #1b4965;
    padding-right: 15px;
}

/*Grid starter her*/
main{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 100px;
    grid-auto-rows: auto;
    margin: 10px;
}


main article{
   
    min-width: 100px;
    font-family: "roboto-mono",sans-serif;
    z-index: -1;
}

#main2{
    margin: 0;
}

/*Bildene på toppen av artiklene*/


.top_bilde_artikkel_2{
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row: span 3;
    height: 300px;
    object-fit: cover;
    align-items: center;
    margin: 0;
    background-image: url("bilder/lovboker.jpg");
}

.top_bilde_artikkel_3{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row: span 3;
    height: 300px;
    object-fit: cover;
    align-items: center;
    margin: 0;
    background-image: url("bilder/kunstig_intelligens_arbeidsplass.jpg");
}

/* Collapsible når siden blir mindre, Tobias og Aksel */
.collapsible{
    border: none;
    background-color: #ccc9a1;
    position: relative;
}
/*Legger til farge hvis knappen trykkes på*/
.active, .collapsible:hover {
    background-color: #ccc9a1;
}

.content {
    position: absolute;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    width: 100px;
    z-index: 1;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
}

@media only screen and (min-width:600px) {
    .meny{
        display: none;
    }
    #dropdown_logo{
        display: none;
    }
}

.collapsible_meny{
    height: 30px;
}

@media only screen and (max-width:600px) {
    .navbar_element{
        display: none;
    }
    #default_logo{
        display: none;
    }
}

.dropdown_text{
    color: black;
}

#default_logo{
    margin-left: 10px;
}

p{
    margin: 0;
    padding: 10px;
}

.overskrift{
    background-color: #ccc9a1;
    opacity: 0.7;
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row: auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/*Artikkel 2 styling*/

.tekst{
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row: auto;
    background-color: #ccc9a1;
    opacity: 0.7;
}

.overskrift h1{
    text-align: center;
    position: relative;
    top: 15px;
}

/*Artikkel 3 styling*/

p a{
    padding: 0;
    font-weight: bold;
    text-decoration: underline;
}