@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&display=swap');

/*Stiller inn body*/
body{
    margin: 0;
    background-color: #658E9C;
}

/*Tekstredigering*/
header, button{
    font-family: "roboto-mono", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #CCC9A1;
    text-decoration: none;
}

/*Fikser logoen*/
.logo{
    width: 10rem;
    min-width: 10rem;
}

/*Navbar*/
header{
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 1fr;
    background-color: #ccc9a1;
    height: 9vh;
    min-height: 40px;
    gap: 50px;
    
}

a{
    text-decoration: none;
    color: #1b4965;
    padding-right: 15px;
}

/*Grid starter her*/
main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 100px;
    margin: 10px;
}
main article{
    border: solid black;
    background-color: #CCC9A1;
    min-width: 100px;
    font-family: "roboto-mono",sans-serif;
    grid-area: 2 / 1 / span 2 / span 3;
}

/* Collapsable når siden blir mindre, Tobias og Aksel */
.collapsible{
    border: none;
    background-color: #ccc9a1;
}
/*Legger til farge hvis knappen trykkes på*/
.active, .collapsible:hover {
    background-color: #ccc9a1;
}

.active{
    margin-top: 137px;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    width: 100px;
}

@media only screen and (min-width:600px) {
    .collapsable{
        display: none;
    }
}

@media only screen and (max-width:600px) {
    .navbar_element{
        display: none;
    }
}

.collapsable_meny{
    height: 30px;
}

.dropdown_text{
    color: black;
}